<div class="text-center">
  <h1>Restaurants#new</h1>
  <p>Find me in app/views/restaurants/new.html.erb</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@restaurant) do |f| %>
        <% if @restaurant.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @restaurant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORIES %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

